[Feature Request] HTTP3/QUIC support

### Describe the feature request

Is there any plan for QUIC and HTTP3 support and not on the transport level?

### Describe alternatives you've considered

_No response_

### Affected area

- [ ] Docs
- [ ] Installation
- [ ] Performance and Scalability
- [ ] Security
- [ ] User Experience
- [ ] Test and Release
- [ ] Developer Infrastructure
- [X] Client Plugin
- [X] Server Plugin
- [ ] Extensions
- [ ] Others

It will be considered after the Go standard library supports it.

> It will be considered after the Go standard library supports it.

Isn't HTTP3 officially supported by `quic-go` library?

It supports HTTP/3 (RFC 9114), including QPACK (RFC 9204) and HTTP Datagrams (RFC 9297). 
Support for WebTransport over HTTP/3 (draft-ietf-webtrans-http3) is implemented in webtransport-go.